body {
    font-family: Inter, sans-serif;
    background-color: #f5f5f5;
    color: #333;
    margin: 0;
    padding: 20px;
}

header{
    text-align: center;
    margin-bottom: 30px;
}

#profile-img{
    width: 200px;
    border-radius: 50%;
}

button{
    padding: 10px 20px;
    margin-top: 10px;
    cursor: pointer;
}

body.dark{
    background-color: #121212;
    color: #f5f5f5;
}

/* para sa hover animation effect sa Achievements and Projects */
.grid{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
    gap: 20px;
    margin-top: 40px;
}

.card{
    background: #fff;
    padding: 20px;
    border-radius: 12px;
    box-shadow: 0 4px 12px rgba(0,0,0,0.1);
    transition: transform 0.2s ease, box-shadow 0.2s ease;
}


body.dark .card{
    background: #1e1e1e;
    box-shadow: 0 4px 15px rgba(255,255,255,0.05);
}


.card:hover{
    transform: translateY(-8px);
    box-shadow: 0 12px 25px rgba(0,0,0,0.18);
}


body.dark .card:hover{
    box-shadow: 0 12px 25px rgba(255,255,255,0.1);
}


.card h2{
    margin-top: 0;
}

